@import url("https://fonts.googleapis.com/css2?family=Eczar&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Eczar", serif;
}
main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 2rem;
  background-color: rgb(245, 245, 245);
}
img {
  max-width: 100%;
  margin-bottom: 2rem;
}
.hero {
  background-color: white;
  border: 8px solid rgb(91, 91, 91);
  padding: 1rem;
  background-color: #a48137;
  display: flex;
  flex-direction: column;
}
.inner-box {
  background-color: #bfa44d;
  padding: 1rem;
  border: 4px solid #ba920f;
  margin-bottom: 1rem;
}
.dob {
  margin-top: auto;
  margin-left: auto;
}
ul {
  list-style: none;
}
h4 {
  padding: 1rem;
  box-shadow: inset 0 0 10px #ffffff7c;
  margin-bottom: 0.5rem;
}
article img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
}
.lifebar-holder {
  border: 1px solid black;
  height: 2rem;
  width: 80%;
  overflow: hidden;
  border-radius: 4px;
  margin-bottom: 1rem;
}
.lifebar {
  background-color: rgb(211, 52, 52);
  height: 100%;
  width: 80%;
  border-radius: 4px;
}
